[flake8]
flake8-max-line-length = 120
max-complexity = 60
docstring-convention = google
ignore-decorators = property
select = C,E,F,W,B,B9,DAR,DUO,R,A,S,Q0,SIM,SFS
# Note: B902, B907 and ANN should be fixed instead of ignored
extend-ignore = E501 W503 B006 B950 SFS301 SF01 Q000 B902 B907 ANN
extend-exclude = build,dist,.venv,.eggs,*.egg-info
# Note: most of these should be fixed instead of ignored
per-file-ignores =
    spiderfoot/event.py:A003,E202
    spiderfoot/db.py:SFS101
    modules/*:SIM102,SIM113,SIM114,SIM910,B036,E721,DUO102
    modules/sfp_alienvault.py:C901,SIM102,SIM113,SIM114,SIM910,B036,E721,DUO102
    modules/sfp_binaryedge.py:C901,SIM102,SIM113,SIM114,SIM910,B036,E721,DUO102
    modules/sfp_bitcoin.py:SFS101,SIM102,SIM113,SIM114,SIM910,B036,E721,DUO102
    spiderfoot/__init__.py:F401
    sf.py:B036,F824
    sfcli.py:DAR,B036
    sflib.py:B036,B034
    sfscan.py:B036
    spiderfoot/helpers.py:B036
    spiderfoot/correlation.py:E721
    sfwebui.py:A001,A002,B905,C901
    spiderfoot/services.py:B036
    test/*:SIM117,B904,B908,ANN,DAR
    docs/conf.py:A

[darglint]
docstring_style=google
