name: Tests

on:
  push:
    branches: [master, modernize]
  pull_request:
    branches: [master, modernize]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        run: pip install uv
      - name: Install dependencies
        run: |
          uv pip install --system ".[dev]"
      - name: Lint with flake8
        run: |
          # stop the build if there are Python Flake8 violations
          flake8 . --count --show-source --statistics
      - name: Test with pytest
        run: |
          python -m pytest -n auto --dist loadfile --ignore=test/integration/modules/ --durations=5 --cov-report term --cov=. .
